body {
    background-color: #f4f4f4;
    font-family: sans-serif;
    color: #333;
}

#profile-card {
    width: 600px;
    background-color: #fff;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.self-introduction__title {
    text-align: center;
    color: #2c3e50;
}

.self-introduction__profile-img {
    display: block;
    width: 150px;
    margin: 0 auto 20px;
    /* 丸になっているかの確認のためのborder*/
    border: 1px solid red;
    border-radius: 50%;
}

.self-introduction__subtitle {
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-top: 30px;
}

.self-introduction__social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.self-introduction__social-link {
    display: block;
    padding: 10px 20px;
    background-color: #3498db;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    /*  背景色の変化する秒数を指定して滑らかに見せてる */
    transition: background-color 0.3s;
}

.self-introduction__social-link:hover {
    text-decoration: underline;
    background-color: #2980b9;
}
